body{
  background-image: url("bg.png");
}
.container {
  background-color: rgb(255, 255, 255);
  width: 60%;
  height: 100%;
  padding-block-end: 50px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 6px rgba(0, 0, 0, 0.2);
}
.header{
  background-color: #6d5ad1;
  color: white;
  width: 100%;
  height: 65px;
  background-size: 100% 200%;
  font-size: 30px;
  font-family: "Prompt", sans-serif;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
}

.input {
  margin: 0;
  border: none;
  border-radius: 5;
  width:70%;
  padding: 10px;
  float: center;
  font-size: 16px;
  transition: 0.3s;
  padding: 20px;
  display:inline;
  height: 80px;
  box-shadow: 1px 1px 3px 3px rgba(85, 85, 85, 0.2);
  font-family: "Prompt", sans-serif;
  
  
  }
  
.tweet-button {
  padding: 4px;
  border: none;
  border-radius: 30px;
  width: 8%;
  background-color: #6d5ad1;
  color: rgb(255, 255, 255);
  float: center;
  text-align: center;
  font-size:18px;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'Prompt', sans-serif;
  display: inline; 
  border-radius: 2;
  position:absolute;
  right:440px;
  
}
.tweet-button:hover {
  padding: 4px;
  border: none;
  border-radius: 30px;
  width: 8%;
  background-color: #947eff;
  color: rgb(255, 255, 255);
  float: center;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'Prompt', sans-serif;
  position:absolute;
  right:440px;
  /* display: block; */
  /* border-radius: 0; */
  
}
.post {
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 5px; 
  height: 20%;
  position: relative;
  padding: 20px;
  margin-top: 60px;
  float: center;
  box-shadow: 2px 2px 6px 6px rgba(85, 85, 85, 0.2);
  width: 70%;
  font-family: "Prompt", sans-serif;
  
}
h4{
  font-size: 20px;
  font-weight: lighter;

  font-family: "Prompt", sans-serif;
}
.like-button {
  font-size: 20px;
  border-radius: 50px;
  top: 6px;
  background-color: #DE3163;
  color: rgb(255, 255, 255);
  text-align: center;
  border: none;
  width: 7%;
  padding: 4px;
  display: inline-block;
  margin-left: 450px;
  justify-content: space-between;
  

}
.like-button:hover {
  font-size: 20px;
  border-radius:50px;
  top: 6px;
  background-color: #f881a2;
  color: rgb(255, 255, 255);
  text-align: center;
  border: none;
  width: 7%;
  padding: 4px;
  display: inline-block;
  margin-left: 450px;
  
  

}
.remove-button {
  font-size: 20px;
  right: 8px;
  border-radius: 50px;
  top: 6px;
  background-color: #F73724;
  color: rgb(255, 255, 255);
  text-align: center;
  border: none;
  width: 7%;
  display: inline-block;
  margin-top: -20px;
  padding: 4px;
}
.remove-button:hover {
  font-size: 20px;
  right: 8px;
  border-radius: 50px;
  top: 6px;
  background-color:#ff6658 ;
  color: rgb(255, 255, 255);
  text-align: center;
  border: none;
  width: 7%;
  display: inline-block;
  
  padding: 4px;
}
.fa-trash,.fa-heart{
  pointer-events: none;
}
.completed{
  text-decoration: line-through;
  opacity:0.5;

}
.count-like{
  display: inline;
  margin-left: 5px;
  font-family: "Prompt", sans-serif;
  font-weight: lighter;
  color: rgb(48, 48, 48);

}